<p id="notice"><%= notice %></p>

<p>
  <strong>Hnos a:</strong>
  <%= @asistencia_reunion_evangelistum.hnos_a %>
</p>

<p>
  <strong>Hnos i:</strong>
  <%= @asistencia_reunion_evangelistum.hnos_i %>
</p>

<p>
  <strong>Friends:</strong>
  <%= @asistencia_reunion_evangelistum.friends %>
</p>

<p>
  <strong>Childrens:</strong>
  <%= @asistencia_reunion_evangelistum.childrens %>
</p>

<p>
  <strong>Ofrenda:</strong>
  <%= @asistencia_reunion_evangelistum.ofrenda %>
</p>

<p>
  <strong>Aceptados:</strong>
  <%= @asistencia_reunion_evangelistum.aceptados %>
</p>

<p>
  <strong>Personas en discipulado:</strong>
  <%= @asistencia_reunion_evangelistum.personas_en_discipulado %>
</p>

<p>
  <strong>Leccion:</strong>
  <%= @asistencia_reunion_evangelistum.leccion %>
</p>

<p>
  <strong>Candidatos bautismo:</strong>
  <%= @asistencia_reunion_evangelistum.candidatos_bautismo %>
</p>

<p>
  <strong>Visitas:</strong>
  <%= @asistencia_reunion_evangelistum.visitas %>
</p>

<p>
  <strong>Personas ministradas:</strong>
  <%= @asistencia_reunion_evangelistum.personas_ministradas %>
</p>

<p>
  <strong>Rec:</strong>
  <%= @asistencia_reunion_evangelistum.rec %>
</p>

<%= link_to 'Edit', edit_asistencia_reunion_evangelistum_path(@asistencia_reunion_evangelistum) %> |
<%= link_to 'Back', asistencia_reunion_evangelista_index_path %>
