<p id="notice"><%= notice %></p>

<p>
  <strong>Hnos a:</strong>
  <%= @asistencia_domingo.hnos_a %>
</p>

<p>
  <strong>Hnos i:</strong>
  <%= @asistencia_domingo.hnos_i %>
</p>

<p>
  <strong>Friends:</strong>
  <%= @asistencia_domingo.friends %>
</p>

<p>
  <strong>Childrens:</strong>
  <%= @asistencia_domingo.childrens %>
</p>

<%= link_to 'Edit', edit_asistencia_domingo_path(@asistencia_domingo) %> |
<%= link_to 'Back', asistencia_domingos_path %>
