<p id="notice"><%= notice %></p>

<h1>Pastors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pastors.each do |pastor| %>
      <tr>
        <td><%= pastor.name %></td>
        <td><%= link_to 'Show', pastor %></td>
        <td><%= link_to 'Edit', edit_pastor_path(pastor) %></td>
        <td><%= link_to 'Destroy', pastor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pastor', new_pastor_path %>
