<p id="notice"><%= notice %></p>

<p>
  <strong>Hnos a:</strong>
  <%= @asistencia_reunion_evangelist.hnos_a %>
</p>

<p>
  <strong>Hnos i:</strong>
  <%= @asistencia_reunion_evangelist.hnos_i %>
</p>

<p>
  <strong>Friends:</strong>
  <%= @asistencia_reunion_evangelist.friends %>
</p>

<p>
  <strong>Childrens:</strong>
  <%= @asistencia_reunion_evangelist.childrens %>
</p>

<p>
  <strong>Ofrenda:</strong>
  <%= @asistencia_reunion_evangelist.ofrenda %>
</p>

<p>
  <strong>Aceptados:</strong>
  <%= @asistencia_reunion_evangelist.aceptados %>
</p>

<p>
  <strong>Personas en discipulado:</strong>
  <%= @asistencia_reunion_evangelist.personas_en_discipulado %>
</p>

<p>
  <strong>Leccion:</strong>
  <%= @asistencia_reunion_evangelist.leccion %>
</p>

<p>
  <strong>Candidatos bautismo:</strong>
  <%= @asistencia_reunion_evangelist.candidatos_bautismo %>
</p>

<p>
  <strong>Visitas:</strong>
  <%= @asistencia_reunion_evangelist.visitas %>
</p>

<p>
  <strong>Personas ministradas:</strong>
  <%= @asistencia_reunion_evangelist.personas_ministradas %>
</p>

<p>
  <strong>Rec:</strong>
  <%= @asistencia_reunion_evangelist.rec %>
</p>

<%= link_to 'Edit', edit_asistencia_reunion_evangelist_path(@asistencia_reunion_evangelist) %> |
<%= link_to 'Back', asistencia_reunion_evangelists_path %>
