<p id="notice"><%= notice %></p>

<p>
  <strong>Miembros nucleo:</strong>
  <%= @asistencia_reunion_planificacion.miembros_nucleo %>
</p>

<p>
  <strong>Miembros apoyo:</strong>
  <%= @asistencia_reunion_planificacion.miembros_apoyo %>
</p>

<p>
  <strong>Reflexion semana:</strong>
  <%= @asistencia_reunion_planificacion.reflexion_semana %>
</p>

<p>
  <strong>Meta amigos alcanzada:</strong>
  <%= @asistencia_reunion_planificacion.meta_amigos_alcanzada %>
</p>

<p>
  <strong>Meta amigos establecida:</strong>
  <%= @asistencia_reunion_planificacion.meta_amigos_establecida %>
</p>

<p>
  <strong>Hora reunion:</strong>
  <%= @asistencia_reunion_planificacion.hora_reunion %>
</p>

<p>
  <strong>Ofrenda:</strong>
  <%= @asistencia_reunion_planificacion.ofrenda %>
</p>

<%= link_to 'Edit', edit_asistencia_reunion_planificacion_path(@asistencia_reunion_planificacion) %> |
<%= link_to 'Back', asistencia_reunion_planificacions_path %>
